.header {
  grid-area: header;
  background: #010D23;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 10;
  
  /* tamanho de fonte responsivo */
  /* o texto nunca será menor que 8px nem maior que 20px */
  font-size: clamp(8px, 2.5vw, 20px);
  white-space: nowrap; /* vai evitar que o texto quebre linhas indesejadas */
}

.nav {
  display: flex;
  gap: 12px;
}

.button-nav {
  background-color: #038BBB;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}

.login-logo {
    width: 0px;
    margin: 0 auto 5px auto;
}